<header id="masthead">
  <div class="inner-wrap">
   <div class="site-title"><a href="{{ site.url }}{% if page.lang == 'fr' %}/fr{% endif %}" >{{ site.title }}</a>
   <!-- global lang selector -->
   {% if page.lang == 'fr' %}
   <a href="{{ site.url }}" class=language-selector>(en)</a>
   {% else %}
   <a href="{{ site.url }}/fr" class=language-selector>(fr)</a>
   {% endif %}
   <!-- twitter link -->
   <a href="https://twitter.com/jfrey_xx" class=language-selector><img src="{{ site.url }}/images/twitter-icon.png" alt="twitter icon" height="24" width="24"></a>
   </div>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
