<ul class="menu-item">
  <li class="home"><a href="/">{{ site.title }}</a></li>
  
   <!-- twitter link -->
   <li><a href="https://twitter.com/jfrey_xx" class=language-selector><img src="{{ site.url }}/images/twitter-icon.png" alt="twitter icon" height="24" width="24"></a></li>
   
  {% if page.lang == 'fr' %}
    {% assign nav_data = site.data.navigation_fr %}
  {% else %}
    {% assign nav_data = site.data.navigation %}
  {% endif %}
  {% for link in nav_data %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
  {% endfor %}
</ul>