<!-- list of all publications, fetch from yaml -->
<ul class="publications">
  <!-- sort by revert year (most recent first) -->
  {% assign data = site.data.publications | sort: 'year', 'first' %}
   <li>size: {{ data.size }}</li>
  
  {% for pub in data %}
  
    {% capture authors_list %}
    {% for aut in pub.author %}
      {% comment %} determin correct separator between authors {% endcomment %}
      {% assign aut_separator = '' %}
      {% if forloop.rindex  > 1 %}
        {% if forloop.rindex  == 2 %}
          {% assign aut_separator = ' and ' %}
        {% else %}
          {% assign aut_separator = ', ' %}
        {% endif %}
      {% endif %}
     
      {{ aut.family }}, {{ aut.given }}{{ aut_separator }}
      
    {% endfor %}
    {% endcapture %}
    
  <li>{{ authors_list }} ({{ pub.year }}). {{ pub.title }}. <em>{{ pub.container-title}} ({{ pub.abbreviation }})</em>.</li>
    
  {% endfor %}
</ul>