<!-- list of all publications, fetch from yaml -->
<ul class="publications">
  <!-- sort by revert year (most recent first) -->
  {% assign data = site.data.publications | sort: 'year', 'first' %}
   <li>size: {{ data.size }}</li>
  
  {% for pub in data %}
  
    {% capture authors_list %}
    {% for aut in pub.author %}
      {% comment %} determin correct separator between authors {% endcomment %}
      {% assign aut_separator = '' %}
      {% if forloop.rindex  > 1 %}
        {% if forloop.rindex  == 2 %}
          {% assign aut_separator = ' and ' %}
        {% else %}
          {% assign aut_separator = ', ' %}
        {% endif %}
      {% endif %}
     
      {% if aut.me == true %}<strong>{% endif %}{{ aut.family }}, {{ aut.given }}{% if aut.me == true %}</strong>{% endif %}{{ aut_separator }}
      
    {% endfor %}
    {% endcapture %}
    
  <li>{{ authors_list }} ({{ pub.year }}). <a href="{{ pub.URL }}">{{ pub.title }}</a>. <em>{{ pub.container-title}} ({{ pub.abbreviation }})</em>. <a href="{{ pub.pdf-link }}"><img src="{{ site.url }}/images/pdf.png" alt="pdf_link_image"></a></li>
    
  {% endfor %}
</ul>